/* Style des coordonnées */
.contact-container, .form-container {
    margin-bottom: 40px;
}

.contact-container {
    margin-left: auto;
    margin-right: auto;
}


.contact-text {
    margin-bottom: 30px;
}

.contact-subtitle {
    font-weight: bold;
}

/* Style du formulaire*/
.form-title {
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    text-align: center;
}

form {
    margin-top: 4vw;
    max-width: 80%;
    margin: 0 auto;
}

input, textarea, form {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], textarea {
    width: 100%;
}

.form-button {
    margin-top: 30px;
}

#contacts_email {
    border-radius: 50px;
}

#contacts_message {
    border-radius: 30px;
}