@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.cdnfonts.com/css/baloo-bhaina');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Reenie+Beanie&display=swap');

.navbar, .footer {
    background-color: #DC9A7D;
}

.navbar-toggler, .nav-link, .nav-link:hover, .footer-link, .footer-link:hover {
    color: white;
    font-weight: 500;
    text-decoration: none;
    align-items: center;
    font-family: 'Baloo Bhaina', sans-serif;
}

/* Style de la barre de navigation */
.logo {
    width: 150px;
    height: 150px;
}

.navbar-list {
    width: 50px;
    height: 50px;
}

.nav-item-mobile {
    display: flex;
    justify-content: flex-end;
}

.navbar-desktop {
    margin: 0 auto;
}

.nav-item-desktop {
    padding-right: 30px;
    font-size: 20px;
}

/*Style du footer*/
.footer {
    text-align: center;
}

.footer-link-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.footer-item {
    font-size: 20px;
    margin: 10px 0;
}

.notice {
    color: white;
    font-style: italic;
    font-family: 'Baloo Bhaina', sans-serif;
}

.desktop-notice {
    font-style: italic;
    display: none;
}

.mobile-notice {
    font-style: italic;
    text-align: center;
}

/* Règle de média query pour les écrans plus larges */
@media screen and (min-width: 768px) {
    .footer-link-container {
        display: flex; 
        flex-direction: row; 
        align-items: center;
        justify-content: center; 
        margin-top: 0;
    }

    .footer-item {
        margin: 40px;
    }

    .desktop-notice {
        display: block;
    }

    .mobile-notice {
        display: none;
    }
}

/* Style des boutons */
.button {
    background: #F3F3F7;
    width: 50%;
    margin: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button-link {
    color: #0C0920;
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
}

.button-link:hover {
    text-decoration: none;
    color: #0C0920;
}

/* Styles des titres */
.title {
    padding-top: 100px;
    font-family: 'Baloo Bhaina', sans-serif;
    color: #609A7D;
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
}

/* Style des formulaires */
.form {
    margin: 0 auto;
    background-color: #609A7D;
    padding: 30px;
    border-radius: 50px;
  }
  
  .label, .box-title {
    color: white;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
  }
  
  input[type="text"], textarea {
    padding: 15px;
    border: 1px solid white;
    border-radius: 50px;
  }
  
  .form-button {
    margin: auto;
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
  }

/* Police des textes */
.text {
    font-family:Noto Sans, sans-serif;
}

/* Correction de style injecté par bootstrap */
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}