{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/legal.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="legal-mentions-container">
    <h1 class="title">MENTIONS LÉGALES</h1>
    <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site diet-coupart l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.<br></p>
    <h2 class="article-title">Edition du site</h2> 
    <p>Le présent site, accessible à l’URL www.diet-coupart.com (le « Site »), est édité par Sandrine Coupart, résidant 126 avenue de la Moune 14118 Caen, de nationalité Française (France), né(e) le 04/09/1980.</p>
    <h2 class="article-title">Hébergement</h2>
    <p>Le Site est hébergé par la société Hostinger International LTD, situé , (contact téléphonique ou email : https://www.hostinger.fr/contact).</p>
    <h2 class="article-title">Directeur de publication</h2>
    <p>Le Directeur de la publication du Site est Sandrine Coupart.</p>
    <h2 class="article-title">Nous contacter</h2>
    <p>Par téléphone : +33102030405<br>Par email : sandrine_coupart@email.com<br>Par courrier : 126 avenue de la Moune 14118 Caen
    <p class="italic-text">Génération des mentions légales par Legalstart.</p>
</div>
{% endblock %}